#diverListVBox {


}

#diverListVBox HBox {
    -fx-border-color: #35648F; /* Bleu plus foncé pour la bordure */
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#diverListVBox Label {
    -fx-text-fill: #1E414D; /* Couleur de texte plus sombre */
}

#diverListVBox Button {
    -fx-background-color: #FF5E5E; /* Rouge vif */
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#diverListVBox Button:hover {
    -fx-background-color: #E04444; /* Rouge plus foncé au survol */
}

.transparent-button{
    -fx-background-color: transparent; /* Button background color */
    -fx-text-fill: #fff; /* Button text color */
}

.transparent-button:hover{
    -fx-background-color: transparent; /* Button background color */
    -fx-text-fill: #fff; /* Button text color */
}


