/* styles.css */
.link-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: teal;
    -fx-font-size: 14.0;
    -fx-underline: true;
    -fx-cursor: hand;

}

.link-button:hover {
    -fx-text-fill: darkcyan;

}

.loginButton {
    -fx-background-color: #3ebbbe;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.loginButton:hover {
    -fx-background-color: #2d95a1;
}

