/* Appliquer un style global */


/* Style pour le titre de la fenêtre */
#windowLabel {
    -fx-text-fill: #2d95a1; /* Couleur du texte */
}

/* Style pour les labels */
Label {
    -fx-text-fill: #2d95a1; /* Couleur du texte */
}

TextField {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #2d95a1; /* Couleur de la bordure */
    -fx-text-fill: #2d95a1; /* Couleur du texte */
}

/* Style pour le bouton */
Button {
    -fx-background-color: #3ebbbe; /* Couleur de fond */
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-cursor: hand; /* Curseur de la souris */
}

Button:hover {
    -fx-background-color: #2d95a1; /* Couleur de fond */
}

/* Style pour le ChoiceBox */
#typeChoiceBox {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-text-fill: #2d95a1; /* Couleur du texte */
    -fx-border-color: #2d95a1; /* Couleur de la bordure */
}

/* Style pour la TextArea */
#descriptionTextArea {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-text-fill: #2d95a1; /* Couleur du texte */
}

/* Style pour les bordures de la TextArea */
.text-area .content {
    -fx-border-color: #2d95a1; /* Couleur de la bordure */
}
