/* styles.css */
.root {
    -fx-background-color: #f0f0f0; /* Light gray background */
}

#errorLabel {
    -fx-text-fill: #FF0000; /* Red text for error label */
}

.label {
    -fx-font-size: 14px; /* Font size for labels */
    -fx-text-fill: #333333; /* Dark gray text for labels */
}

.text-field,
.password-field {
    -fx-prompt-text-fill: #999999; /* Light gray prompt text */
    -fx-border-color: #bbbbbb; /* Light gray border color */
}

.button {
    -fx-background-color: transparent; /* No background color */
    -fx-text-fill: #007acc; /* Blue text color for buttons */
    -fx-font-size: 14px; /* Font size for buttons */
    -fx-background-radius: 0; /* Remove background radius */
}

.button:hover {
    -fx-background-color: transparent; /* No background color on hover */
    -fx-text-fill: #005a8c; /* Darker blue text color on hover */
}
